@media screen and (min-width: 768px) {
    .menu {
        list-style-type: none;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        box-shadow:none;
        padding:5px;
    }

    .menu a {
        display: block;
        text-decoration: none;
        padding: 4px;
    }

    .menu li a:hover {
        background-color: rgb(24, 23, 23);
    }
}